@import "base/extends";
@import "base/listas";
@import "base/magic";
@import "base/maps";
@import "base/mixin";
@import "base/variables";


@import "components/ejerciciopedia";
@import "components/footer";
@import "components/header";
@import "components/horarios";
@import "components/index";
@import "components/miperfil";
@import "components/rutinas";
@import "components/responsive";
@import "components/animaciones";



/* Responsive */

*{
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #ECF0F1;
    margin: 0px;
}