.footer-procenter {
    @include displays (flex, center, space-between);
    background-color: map-get($colores, color3);
    margin-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    .logo-final-padre{
        border-style: solid;
        border-color: map-get($colores, color3);
        border-radius: 35px;
        width: 90px;
        height:90px;
        overflow: hidden;
        .logo-final-hijo{
            @extend %img-full;
        }
    }
    .nav-redes{
        .ul-redes{
            .li-redes{
                list-style: none;   
                @include displays (flex, center, none);
                .div-redes{
                    width: 30px;
                    height: 30px;
                    border-radius: 40px;
                    border-style: solid;
                    border-color: map-get($colores, color3);
                    overflow: hidden;
                    margin-right: 10px;
                    .img-redes{
                        @extend %img-full;
                    }
                }
                // .link-redes {
                //     
                // }
            }
        }
    }
    .nav-pestanas{
        .ul-pestanas{
            .li-pestanas{
                list-style: none;
            }
        }
    }
}