
.header-procenter {
    @include displays (flex, center, space-between);
    padding: 10px;
    margin-bottom: 20px;
    background-color: map-get($colores,color3);
    height: 70px;
    .seccion-titulo  {
        display: flex;
        align-items: center;
        
        .nombre-gimnasio {
            .link-index {
                font-size: 40px;
                color: map-get($colores,color2);
                font-weight: bold;
                font-family:'Times New Roman', Times, serif; 
            }
        }
        .div-imagen {
            border-style: solid;
            border-color: map-get($colores,color3);
            border-radius: 20px;
            width: 80px;
            height: 50px;
            overflow: hidden;
            img {
                @extend %img-full;
            }
        }
    }
    .nav-redesh {
        @include displays (flex, none, space-between);
        padding: 10px;
        width: 400px;
    }
    .div-ingreso {
        @include displays (flex, center, space-between);
        width: 150px;
        .img-perfil-usuario {
            border-style: solid;
            border-color: map-get($colores,color3);
            border-radius: 30px ;
            width: 50px;
            height: 50px;
            overflow: hidden;
            .img-perfil-usuario-hijo {
                @extend %img-full;
            }
        }
    }
}

a {
    text-decoration: none;
    color: map-get($colores,color2);
    font-family: Arial, Helvetica, sans-serif;
}

