
header {
    @include displays (flex, center, space-between);
    padding: 10px;
    margin-bottom: 20px;
    background-color: map-get($colores,color3);
    height: 70px;
    section  {
        display: flex;
        align-items: center;
        p , .nombregimnasio {
            font-size: 40px;
            color: map-get($colores,color2);
            font-weight: bold;
            font-family:'Times New Roman', Times, serif;

        }
        div {
            border-style: solid;
            border-color: map-get($colores,color3);
            border-radius: 20px;
            width: 80px;
            height: 50px;
            overflow: hidden;
            img {
                @extend %img-full;
            }
        }
    }
    nav {
        @include displays (flex, none, space-between);
        padding: 10px;
        width: 400px;
    }
    div {
        @include displays (flex, center, space-between);
        width: 150px;
        .img-perf-usuario {
            border-style: solid;
            border-color: map-get($colores,color3);
            border-radius: 30px ;
            width: 50px;
            height: 50px;
            overflow: hidden;
            img {
                @extend %img-full;
            }
        }
    }
}

a {
    text-decoration: none;
    color: map-get($colores,color2);
    font-family: Arial, Helvetica, sans-serif;
}










/* @media screen and (width < 480px) {
    .nombregimnasio {
        display: none;
    }
    .logoInicio-padre {
        display: none;
    }
    .logoFinal-padre {
        display: none;
    }

    p {
        font-size: 10px;
    }
    a {
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    .img-perfil {
        width: 10px;
        height: 10px;
        justify-content: right;
    }
    
    .ingreso-hijo {
        display: none;
    } 
}


@media screen and (width < 480px) {
    .ejercicio {
        display: grid;
        grid-template-columns: 270px;
        grid-template-rows:  repeat(12, 330px);
        grid-template-areas: 
        'video1'
        'video2'
        'video3'
        'video4'
        'video5'
        'video6'
        'video7'
        'video8'
        'video9'
        'video10'
        'video11'
        'video12';
        gap: 50px;
        height: 250vh;
    }  
} */