
div {
    .horarios {
        @include displays (flex, center, center);
        height: 500px;
        flex-direction: column;
        .horarios-texto {
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

