
// section {
//     @extend %flex-center-around;
//     div {
//         height: 300px;
//         width: 320px;
//         text-align: center;

//         .imagen-container {
//             height: 250px;
//             width: 300px;
//             margin: 10px;
//             img{
//                 width: 100%;
//                 height: 100%;
//             }
//         }
//     }
// }



.pag-inicio {
    @include displays (flex, none, space-around);
    .img-izq {
        display: flex;
        flex-direction: column;
        gap: 20px; 


        .imagen-container {
            min-width: 200px;
            min-height: 200px;
            height: 300px;
            width: 300px;
            img {
                @extend %img-full;
            }
        }
    }
    .planes {
        @include displays (flex, center, space-around);
        gap: 100px;
        .planes1{
            display: flex;
            flex-direction: column;
            gap: 20px; 
            .plan-musc {
                button {
                    @include botones-planes (2px solid map-get($colores,plan-musc),15px,100px,200px,18px);
                    
                }
                button:hover {
                    background-color: map-get($colores,color3);
                    cursor: pointer;
                }
            }
            .plan-squash {
                button {
                    @include botones-planes (2px solid map-get($colores,color2),15px,100px,200px,18px);
                    
                }
                button:hover {
                    background-color: map-get($colores,color3);
                    cursor: pointer;
                }
            }
        }
        .planes2{
            display: flex;
            flex-direction: column;
            gap: 20px; 
            .plan-boxeo {
                button {
                    @include botones-planes (2px solid map-get($colores,plan-boxeo),15px,100px,200px,18px);
                    
                }
            
                button:hover {
                    background-color: map-get($colores,color3);
                    cursor: pointer;
                }
            }
            .plan-muaythai {
                button {
                    @include botones-planes (2px solid map-get($colores,plan-muaythai),15px,100px,200px,18px);
                    
                }
                button:hover {
                    background-color: map-get($colores,color3);
                    cursor: pointer;
                }
            }
        }
    }
    .img-der {
        display: flex;
        flex-direction: column;
        gap: 20px; 

        .imagen-container {
            min-width: 200px;
            min-height: 200px;
            height: 300px;
            width: 300px;
            img {
                @extend %img-full;
            }
        }
    }
}