/* Responsive de header */

@media (max-width: 1350px) {
    .header-procenter .seccion-titulo .nombre-gimnasio {
        display: none;
    }   
  }


@media (max-width: 1350px) {
    .pag-inicio {
        .img-izq , .img-der {
            .imagen-container {
                display: none;
            }
        }
    }
}

@media (max-width: 540px) {
    .header-procenter .seccion-titulo .div-imagen {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 50px ;
            height: 25px;
            overflow: hidden;
            border-radius: 10px;
        }
    }
    
    .header-procenter .nav-redesh p {
        font-size: 9px;
    }

    .header-procenter .div-ingreso {
        justify-content: right;
        p {
            font-size: 9px;
            
        }
        .img-perfil-usuario {
            border-style: solid;
            border-color: map-get($colores,color3);
            border-radius: 15px ;
            width: 25px;
            height: 25px;
            overflow: hidden;
            .img-perfil-usuario {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* Responsive de index */
@media (max-width: 432px) {
    .planes1{
        .plan-musc {
            button {
                border: 2px solid map-get($colores,color2);
                border-radius: 15px;
                text-align: center;
                height: 75px;
                width: 150px;
                font-size: 18px;
            }
        }
    }
    
}

@media (max-width: 1350px) {
    .pag-inicio {
        .planes {
            .planes1{
                .plan-musc {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-musc),15px,60px,100px,10px)
                    }
                }
                .plan-squash {
                    button {
                        @include botones-planes (2px solid map-get($colores,color2),15px,60px,100px,10px)
                    }
                }
            }
            .planes2{
                .plan-boxeo {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-boxeo),15px,60px,100px,10px)
                    }
                }
                .plan-muaythai {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-muaythai),15px,60px,100px,10px)
                    }
                }
            }
        }
    }
} 

@media (max-width: 432px) {
    .pag-inicio {
        
        .planes {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .planes1{
                .plan-musc {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-musc),15px,40px,80px,7px)
                    }
                }
                .plan-squash {
                    button {
                        @include botones-planes (2px solid map-get($colores,color2),15px,40px,80px,7px)
                    }
                }
            }
            .planes2{
                .plan-boxeo {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-boxeo),15px,40px,80px,7px)
                    }
                }
                .plan-muaythai {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-muaythai),15px,40px,80px,7px)
                    }
                }
            }
        }
    }
} 




/* footer */
    
@media (max-width:1350px){
    .footer-procenter {
        .logo-final-padre{
            width: 100px;
            height:100px;
        }
        .nav-redes{
            .ul-redes{
                .li-redes{
                    .div-redes{
                        width: 30px;
                        height: 30px;
                        border-radius: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .footer-procenter {
        display: flex;
        justify-content: center;
        .logo-final-padre{
           display: none;
        }
        .nav-redes{   
            .ul-redes{
                .li-redes{  
                    .div-redes{
                        width: 30px;
                        height: 30px;
                        .img-redes{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .nav-pestanas {
            display: none;          
        }
    }
}




/* Responsive de ejerciciopedia */
@media (max-width: 1400px) {
    div {
        .ejercicio {
            display: grid;
            grid-template-columns: 300px 300px;
            grid-template-rows:  250px 250px 250px 250px 250px 250px;
            grid-template-areas: 
            'video1 video2'
            'video5 video6'
            'video9 video10'
            'video3 video4'
            'video7 video8'
            'video11 video12';
            justify-content: center;
            gap: 130px;
            height: 85vh;
        }
    }
}

@media (max-width: 800px) {
    div {
        .ejercicio {
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows:  250px 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px;
            grid-template-areas: 
            'video1'
            'video2'
            'video3'
            'video4'
            'video5'
            'video6'
            'video7'
            'video8'
            'video9'
            'video10'
            'video11'
            'video12';
            justify-content: center;
            gap: 150px;
            height: 180vh;
            
            
        }
    }
}

/* Responsive de horarios */
@media (max-width: 1350px) {
    div{
        .horarios{
            height: 900px;
            justify-content: center;
                div {
                    img {
                        display: none;
                    }
                    .tablets-y-menos {
                        .horarios-por-dia {
                            display: flex;
                            padding-top: 25px;
                        }
                        
                    }
                }
                

            .horarios-texto {
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                padding-top: 25px;
            }
        }
    }
}
    @media screen and (min-width: 1350px) {
        div{
            .horarios{
                    div {
                        .tablets-y-menos {
                            display: none;
                            
                        }
                    }
                    
    
                .horarios-texto {
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
  
 
/* Responsive de rutinas */

@media (max-width: 900px) {
    .rutinas {
        .contenedor-div{
            display: flex;
            flex-direction: column;
        }
     }
}  
 