/* Responsive de header */

@media (max-width: 1350px) {
    header section p {
        display: none;
    }   
  }


@media (max-width: 1350px) {
    .pag-inicio {
        .img-izq , .img-der {
            .imagen-container {
                display: none;
            }
            
        }
    }
}

@media (max-width: 432px) {
    header nav p {
        font-size: 7px;
    }
    header div {
        p {
            font-size: 7px;
        }
        .img-perf-usuario {
            border-style: solid;
            border-color: map-get($colores,color3);
            border-radius: 15px ;
            width: 25px;
            height: 25px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* Responsive de index */
@media (max-width: 432px) {
    .planes1{
        .plan-musc {
            button {
                border: 2px solid map-get($colores,color2);
                border-radius: 15px;
                text-align: center;
                height: 75px;
                width: 150px;
                font-size: 18px;
            }
        }
    }
    
}

@media (max-width: 1350px) {
    .pag-inicio {
        .planes {
            .planes1{
                .plan-musc {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-musc),15px,60px,100px,10px)
                    }
                }
                .plan-squash {
                    button {
                        @include botones-planes (2px solid map-get($colores,color2),15px,60px,100px,10px)
                    }
                }
            }
            .planes2{
                .plan-boxeo {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-boxeo),15px,60px,100px,10px)
                    }
                }
                .plan-muaythai {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-muaythai),15px,60px,100px,10px)
                    }
                }
            }
        }
    }
} 

@media (max-width: 432px) {
    .pag-inicio {
        
        .planes {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .planes1{
                
                .plan-musc {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-musc),15px,40px,80px,7px)
                    }
                }
                .plan-squash {
                    button {
                        @include botones-planes (2px solid map-get($colores,color2),15px,40px,80px,7px)
                    }
                }
            }
            .planes2{
                .plan-boxeo {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-boxeo),15px,40px,80px,7px)
                    }
                }
                .plan-muaythai {
                    button {
                        @include botones-planes (2px solid map-get($colores,plan-muaythai),15px,40px,80px,7px)
                    }
                }
            }
        }
    }
} 

/* Responsive de footer*/
@media (max-width: 432px) {
    footer {
     .pestañas-footer {
        display: none;
     }

     div {
        width: 35px;
        height: 35px;
        border-radius: 35px;
        border-style: solid;
        border-color: #85c1e9;
        overflow: hidden;
        margin-right: 10px;
                        img {
                            @extend %img-full;
                        }
     }
     .redes-sociales {
        
        ul {
            padding: 0px;
            li {
                div{
                    display: none;
                    img{
                        display: none;
                    }
                }
                a {
                    font-size: 10px;
                }
            }
        }
     }
    }
}

/* Responsive de ejerciciopedia */
@media (max-width: 1400px) {
    div {
        .ejercicio {
            display: grid;
            grid-template-columns: 300px 300px;
            grid-template-rows:  250px 250px 250px 250px 250px 250px;
            grid-template-areas: 
            'video1 video2'
            'video5 video6'
            'video9 video10'
            'video3 video4'
            'video7 video8'
            'video11 video12';
            justify-content: center;
            gap: 130px;
            height: 85vh;
        }
    }
}

@media (max-width: 800px) {
    div {
        .ejercicio {
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows:  250px 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px;
            grid-template-areas: 
            'video1'
            'video2'
            'video3'
            'video4'
            'video5'
            'video6'
            'video7'
            'video8'
            'video9'
            'video10'
            'video11'
            'video12';
            justify-content: center;
            gap: 150px;
            height: 180vh;
            
            
        }
    }
}

/* Responsive de horarios */
@media (max-width: 1350px) {
    div{
        .horarios{
                div {
                    img {
                        display: none;
                    }
                    .tablets-y-menos {
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        
                    }
                }
                

            .horarios-texto {
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }
    @media screen and (min-width: 1350px) {
        div{
            .horarios{
                    div {
                        .tablets-y-menos {
                            display: none;
                            
                        }
                    }
                    
    
                .horarios-texto {
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
  
 
/* Responsive de rutinas */

@media (max-width: 900px) {
    .rutinas {
        .contenedor-div{
            display: flex;
            flex-direction: column;
        }
     }
}  
 